@import '../../../assets/vars.scss';

.latest_article {
	width: 100%;
}

.latest_article_posts {
	margin: 100px 0;
	display: flex;
	gap: 20px;
	flex-direction: column;
	justify-content: center;
	
	.latest_article_posts_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.latest_article_posts_cards {
		display: grid;
		justify-content: center;
		align-items: center;
		grid-gap: 30px;
		grid-template-columns: 1fr;

		@media screen and (min-width: $width-tablet-mini) and (max-width: $width-monitor-medium) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (min-width: $width-monitor-medium) {
			grid-gap: 30px;
			grid-template-columns: repeat(4, 1fr);
		}

		.latest_article_post_link {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
.latest_article_spinning {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
}


.latest_article_post_link:hover {
	color: #fff;
	text-decoration: none;
}

.latest_article_post {
	background-color: $background-dark-more;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 15px;
	padding: 5px 20px;
	border-radius: 10px;
    width: 300px;
	height: 400px;
	transition: 0.2s all ease;
	cursor: pointer;

	&:hover {
		transform: translateY(-10px);
		background-color: $background-hover-sure;
	}

	.latest_article_post_image {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 150px;
		border-radius: 5px;
		.latest_article_post_image_item {
			width: 65px;
		}
	}

	.latest_article_post_content {
		display: flex;
		gap: 20px;
		flex-direction: column;
		justify-content: space-between;
		// height: 225px;
	}

	.latest_article_post_content_date_tag {
		display: flex;
		flex-direction: column;
		gap: 12px;

		.latest_article_post_content_date_tag_info {
			margin-bottom: 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		@media screen and (min-width: $width-mobile-tablet-media) {
		}
	}
}

.pagination {
	display: flex;
	gap: 20px;
}

.latest_previous_article {
	.right_arrow,
	.left_arrow {
		transition: 0.2s transform ease;
	}

	&:hover {
		.right_arrow {
			transform: translateX(2px);
		}

		.left_arrow {
			transform: translateX(-2px);
		}
	}
}
