@import '../../../assets/vars.scss';

.latest_article {
	width: 100%;
}

.latest_article_posts {
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.latest_article_spinning {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
}

.latest_article_post {
	display: flex;
	gap: 15px;
	padding: 5px 8px;
	border-radius: 10px;
	transition: 0.2s transform ease;
	width: max-content;
	cursor: pointer;

	&:hover {
		transform: translateX(10px);
		padding-right: 30px;
		background-color: $background-hover;
	}

	.latest_article_post_image {
		display: flex;
		align-items: center;
		justify-content: center;
		.latest_article_post_image_item {
			width: 65px;
		}
	}

	.latest_article_post_content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.latest_article_post_content_date_tag {
		display: flex;
		flex-direction: column;
		gap: 12px;

		@media screen and (min-width: $width-mobile-tablet-media) {
			flex-direction: initial;
			align-items: flex-end;
		}
	}
}

.pagination {
	display: flex;
	gap: 20px;
}

.latest_previous_article {
	.right_arrow,
	.left_arrow {
		transition: 0.2s transform ease;
	}

	&:hover {
		.right_arrow {
			transform: translateX(2px);
		}

		.left_arrow {
			transform: translateX(-2px);
		}
	}
}
