.login {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.login_content {
    max-width: 400px;
}

.login_content .login_content_title {
    font-size: 50px;
    text-shadow: 0 0 20px var(--color-light);
}

.login_content .login_content_paragraph {
    font-size: 18px;
}

.login_content .login_content_paragraph span {
    color: var(--color-blue);    
}


.login .login_form form {
    display: grid;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.login .login_form form label {
    display: flex;
    font-weight: bold;
    gap: 8px;
    flex-direction: column;
    font-size: 18px;
}