@import '../../../assets/vars.scss';

.footer {

	display: flex;
	gap: 10px;
	flex-direction: column;

	.footer_anchor{
		display: flex;
		gap: 30px;
		justify-content: center;
		align-items: center;
	}

	.footer-credits, .footer-credits a  {
		
		text-align: center;
		color: #ffffffa7;

		a:hover {
			color: #09f;
		}
	}
	
	
}

