@import '../../../assets/vars.scss';

.footer {
	margin-bottom: 30px;
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.footer .footer_network {
	color: $color-light;
    text-decoration: none;
	&:hover {
		color: $color-blue;
	}
}
