@import '../assets/vars.scss';

.grid-father {
	display: grid;
	grid-template-columns: 30px 1fr 30px;

	@media screen and (min-width: $width-mobile-big) and (max-width: $width-tablet-mini) {
		grid-template-columns: 60px 1fr 60px;
	}

	@media screen and (min-width: $width-tablet-mini) and (max-width: $width-tablet-big) {
		grid-template-columns: 80px 1fr 80px;
	}

	@media screen and (min-width: $width-tablet-big) and (max-width: $width-monitor-mini) {
		grid-template-columns: 120px 1fr 120px;
	}

	@media screen and (min-width: $width-monitor-mini) {
		grid-template-columns: 200px 1fr 200px;
	}
}

.grid-son {
	grid-column-start: 2;
	grid-column-end: 3;

	display: flex;
	flex-direction: column;
	gap: 30px;
}

.header_search_input {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $dark-color-hover;
	background-color: $background-dark;
	border-radius: 10px;
	padding: 8px 15px;

	transition: 0.3s box-shadow ease;
}

.header_search_input .header_search_input_item {
	background-color: $background-dark;
	border: none;
	padding: 4px 12px;
	width: 180px;
	font-size: 15px;
	outline: none;
}

.header_search_input:hover {
	outline: 0;
	box-shadow: 0 0 10px rgb(0 153 255/0.3);
	border: 1px solid transparent;
}

.header_search_input .header_search_input_icon {
	fill: $color-light;
}

// Tags
.tags {
	font-size: 14px;
	font-weight: bold;
	padding: 1px 10px;
	width: max-content;
	border-radius: 30px;
	text-transform: capitalize;
}

.html,
.git {
	background-color: #e03e0c47;
	color: #ff6b3e;
}

.nest {
	background-color: #ed294647;
	color: #ff3d5a;
}

.aws,
.javascript {
	background-color: #ffff0056;
	color: #ffff00;
}

.next,
.terminal {
	background-color: #0000005e;
	color: #ffffff;
}

.cypress {
	background-color: #00778049;
	color: #00eeff;
}

.sass,
.graphQL,
.sql {
	background-color: #bf407f69;
	color: #ff399c;
}

.course_sass,
.course_graphQL {
	background-color: #fb5bab;
}

.typescript,
.react,
.css,
.docker {
	background-color: #3179c651;
	color: #1f8bff;
}

.course_typescript,
.course_react,
.course_css,
.course_sql {
	background-color: #3798ff;
}

.node {
	background-color: #026e0054;
	color: #049e01;
}

// Card Post
.card_post_container {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	grid-template-columns: 1fr;

	@media screen and (min-width: $width-tablet-mini) and (max-width: $width-monitor-medium) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (min-width: $width-monitor-medium) {
		grid-template-columns: repeat(4, 1fr);
	}

	.latest_article_post_link {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
