@import '../assets/vars.scss';

.grid-father {
	display: grid;
	grid-template-columns: 30px 1fr 30px;

	@media screen and (min-width: $width-mobile-big) and (max-width: $width-tablet-mini) {
		grid-template-columns: 60px 1fr 60px;
	}

    @media screen and (min-width: $width-tablet-mini) and (max-width: $width-tablet-big) {
		grid-template-columns: 80px 1fr 80px;
	}

    @media screen and (min-width: $width-tablet-big) and (max-width: $width-monitor-mini) {
		grid-template-columns: 120px 1fr 120px;
	}

    @media screen and (min-width: $width-monitor-mini)  {
		grid-template-columns: 200px 1fr 200px;
	}
}

.grid-son {
	grid-column-start: 2;
	grid-column-end: 3;

	display: flex;
	flex-direction: column;
	gap: 50px;
}

// Tags

.tags {
	font-size: 14px;
	font-weight: bold;
    padding: 1px 10px;
    width: max-content;
    border-radius: 30px;
    text-transform: capitalize;
}


.css {
	border: 1px solid #0e76bb;
	background-color: #0e76bb67;
	color: #bfe5ff;
}

.course_css, .course_react {
	background-image: linear-gradient(to right bottom,#70a9f2,#5c91da,#477bc2,#3264ab,#1a4f94);
}

.git {
	border: 2px solid #f65626;
	background-color: #f6562695;
	color: #ffbca7;
}

.course_git {
	background-image: linear-gradient(to right bottom,#f4827c,#e16e67,#ce5a52,#bb463e,#a8312b);
}

.html {
	border: 2px solid #e03e0c;
	background-color: #e03e0c80;
	color: #ffc5b6;
}

.course_html {
	background-image: linear-gradient(to right bottom,#fba97e,#fa9c6a,#f88e57,#f58043,#f2722e);
}

.nest {
	border: 2px solid #ed2945;
	background-color: #ed29466e;
	color: #ffb3bf;
}

.course_nest {
	background-image: linear-gradient(to right bottom,#fd5f88,#ea4e73,#d63c60,#c3294c,#af113a);
}

.javascript {
	border: 2px solid #ead12f;
	background-color: #ead12f9f;
	color: #fff5b4;
}

.course_javascript {
	background-image: linear-gradient(to right bottom,#ffed76,#e3d05c,#c7b443,#ab9929,#907f08);
}

.react {
	border: 2px solid #35a6f1;
	background-color: #35a6f17f;
	color: #9fd9ff;
}
