@import '../../../assets/vars.scss';

.last_courses {
	.last_courses_title {
		text-align: end;
	}

	.last_courses_posts {
		margin: 30px 0;
		display: flex;
		gap: 25px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;

		.latest_article_courses {
			width: 300px;
			border-radius: 2px;
			transition: 0.2s transform ease;
			cursor: pointer;

			display: flex;
			gap: 10px;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: $shadow-dark;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;

			.latest_article_post_image {
				height: 150px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;

				width: 100%;

				img {
					width: 120px;
				}
			}

			&:hover {
				transform: scale(1.03);
			}

			@media screen and (min-width: $width-tablet-big) {
				width: 350px;
			}
		}
	}
}

.article_post_content_img {
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

}

.article_post_content {
	text-align: center;
	padding: 10px 0;
}
