// Background
$background-dark: #20252c;
$background-dark-more: #15171b;

// Colors
$color-black: #000;
$color-blue: #09f;
$color-light: #fff;
$color-error: #d50000;
$dark-color-hover: #3c4654;

// Shadows
$shadow-dark:  rgba(0,0,0,.3);

// Background
$background-hover: #cccccc19;

// Width
$width-mobile: 375px;
$width-mobile-big: 425px;
$width-mobile-tablet-media: 550px;
$width-tablet-mini: 768px;
$width-tablet-big: 1024px;
$width-monitor-mini: 1440px;

$width-mobile-tablet-big: 685px;
$width-monitor-medium: 1600px;
$width-monitor-big: 1800px;