$background-dark: #20252c;
$color-light: #fff;
$dark-color-hover: #3c4654;
$color-blue: #09f;
$shadow-dark:  rgba(0,0,0,.3);

$width-mobile: 375px;
$width-mobile-big: 425px;
$width-tablet-mini: 768px;
$width-tablet-big: 1024px;
$width-monitor-mini: 1440px;