@import './assets/vars.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: $background-dark;
	color: $color-light;

    display: flex;
    gap: 30px;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: '';
    background: rgb(0 153 255/.1);
    filter: blur(100px);
    width: 300px;
    height: 300px;
    position: absolute;
    left: -50px;
    top: 100px;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 6px;     /* Tamaño del scroll en vertical */
    height: 6px;    /* Tamaño del scroll en horizontal */
}

::-webkit-scrollbar-thumb {
    background: $color-light;
    border-radius: 4px;
}

.input {
    padding: 14px 20px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: $shadow-dark;
    font-weight: 400;
    font-size: 16px;
    color: $color-light;
}

input {
    color: $color-light;
}

.button {
    background-color: $color-blue;
    color: $color-light;
    border: none;
    padding: 14px 20px;
    border-radius: 10px;
    box-shadow: 0 20px 60px $shadow-dark;
    font-weight: bold;
    cursor: pointer;
    transition: .2s box-shadow ease;
}

.button:hover {
    box-shadow: 0 10px 30px $shadow-dark;
}

a {
    color: $color-light;
    transition: .2s color ease;
    text-decoration: none;

    &:hover {
        color: $color-blue;
    }
}